@import url("utility.css");


.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Container takes full height of viewport */
    gap: 1rem;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: #333; /* Dark background color*/
    color: #fff; /* White text for contrast /
  }
  
.flex-item {
   back-ground color: rgba(255, 255, 255, 0.1); /* Semi-tansparent white background */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border color */
    padding: 2em;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2); /* Add shadow */
    width: 100%; /* full width to fit containers width */
    max-width: 600px;/* Max width to control items size */
    text-align: center; /* Center text inside the items */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}