@import url("utility.css");


.flex {
    display: flex;
    gap: 1rem;
  }
  
  .flex__item {
    background-color: rgba(rgb(3, 3, 87), 0.25);
    border: 1px solid rgba(rgb(8, 0, 21), 1);
    padding: 2em;
    border-radius: 1rem;

  }
  
  .grid {
    display: grid;
    gap: 1rem;
  }
  
  .grid__item {
    background-color: rgba rgba(3, 3, 100, 0.25);
    border: 1px solid rgba rgb(2, 2, 21, 1);
    border-radius: 1rem;
    padding: 2em;
}
  